body {
  margin: 0;
}

.mobile-nav-button {
  display: none;
  position: fixed;
  right: 10;
  top: 10;
}

.mobile-nav-button img {
  width: 18px;
}

.desktop-nav {
  position: fixed;
  right: 0;
  top: 0;
}

.desktop-nav li {
  display: inline;
  list-style: none;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  
  body {
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav-button {
    display: inline;
  }
}
