body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
  width: 100%;
  overflow: hidden;
}

.fast > h1 {
  animation-duration: 1s;
  animation-name: slidein;
}

.cool {
  background-color: dodgerblue;
  color: white;
  border: none;
  min-width: 150px;
  min-height: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px  lightgray;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cool:hover {
  transform: scale(1.3);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}